:root {
    --col1: #41393D;
    --col2: #3D5A6C;
    --col3: #F6F4E0;
    --col4: #DF572A;
    --title-fam: 'Bodoni Moda', serif;
    --body-fam: 'EB Garamond', serif;
    --flex-gap: 10px;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--col3);
    font-family: var(--body-fam);
    color: var(--col1);
    width: 100%;
    overflow-x: hidden;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--col3);
    background-color: var(--col2);
    padding: 0 5%;
    height: 65px;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: var(--title-fam);
}

nav{
    display: flex;
    justify-content: space-between;
    min-width: 220px;
    width: 30%;
    max-width: 300px;
}
header a {
    text-decoration: none;
    color: var(--col3);
    transition: all 0.5s ease;
    padding: 5px 15px;
    border-radius: 5px;
}
header a:hover {
    cursor: pointer;
    background-color: var(--col3);
    color: var(--col2);
}

#burger {
    display: none;
    padding: 17px 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--col2);
    border-radius: 300px;
    margin: 20px;
    box-shadow: 3px 3px 10px var(--col1);
    z-index: 5;
}
#burger:hover {
    cursor: pointer;
}
#burger div{
    position: relative;
    width: 25px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--col3);
    transition: 0.5s;
}
#burg1{
    top: 0px;
}
#burg2{
    top: 3px;
}
#burg3{
    top: -2px;
}
#burg4{
    top: 1px;
}

#burg1.twist {
    opacity: 0;
}
#burg2.twist {
    transform: rotate(-45deg);
}
#burg3.twist {
    transform: rotate(45deg);
}
#burg4.twist{
    opacity: 0;
}
nav.twist{
    transform: translateX(0%);
    transition: 0.5s;
}


/* main */
main {
    margin: 0px 20px
}
.anchor {
    padding-top: 65px;
    margin-top: -65px;
}
main > section > h2 {
    margin: 15px 0px 7px 0px;
}



.work_container {
    display: flex;
    gap: var(--flex-gap);
    flex-wrap: wrap;
    margin: 15px 0px;
}
.work {
    height: 150px;
    border-radius: 4px;
    padding: 7px;
    display: flex;
}
.work_big {
    flex-basis: 100%;
}
.work_small {
    flex-basis: calc(50% - calc(var(--flex-gap) / 2));
}
.work_container a {
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-decoration: none;
    color: var(--col1);
    transition: all 0.5s ease;
}
.work_container a:hover {
    box-shadow: 3px 3px 5px var(--col2);
    transition: all 0.5s ease;
    text-decoration: underline;
}
.work_container a h4, .work_container a h5{
    background-color: var(--col3);
    padding: 5px;
    border-radius: 3px;
}
#floray{
    background-image: url("../img/winery.jpeg");
}
#minorba {
    background-image: url("../img/forrest.jpeg");
}
#calc {
    background-image: url("../img/calc.jpeg");
}
#snippet {
    background-image: url("../img/css-code.jpeg");
}
#NMRalter8r {
    background-image: url("../img/nmr.jpeg");
}
#contentr8r {
    background-image: url("../img/conce.jpeg");
}

#contact > div{
    display: flex;
}
#contact article{
    flex-grow: 1;
    min-width: 100px;
}

@media screen and (max-width:500px) {
    #burger {
        display: block;
    }
    nav {
        position: fixed;
        bottom: 100px;
        right: 0;
        flex-direction: column;
        justify-content: right;
        transform: translateX(150%);
        transition: 0.5s;
        min-width: 0;
        width: auto;
        margin-right: 20px;
        background-color: var(--col2);
        border: 2px solid var(--col3);
        border-radius: 8px;
    }
    nav a {
        color: var(--col3);
        text-align: right;
        font-size: 30px;
    }
}